<div class="header">
  <div class="site-name">
    <a href="./index.html">Mathieu
    Renzo</a>&emsp;<a href="#light-dark-toggle"><i id="light-dark-toggle"
    style="font-size:16px" class="fa-solid fa-circle-half-stroke"></i></a>
  </div>
  <div class="hamburger">
    <div id="myLinks" class="menu">
      <a href="./index.html">Home</a>
      <a href="./group.html">Group</a>
      <a href="./teaching.html">Teaching</a>
      <a href="./talks.html">Talks</a>
      <a href="./outreach.html">Outreach</a>
      <a href="./cv.html">CV</a>
      <a href="./publications.html">Publications</a>
      <a href="./miscellanea.html">Miscellanea</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="HamburgerMenuFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="navbar">
    <a href="./group.html">Group</a>
    <a href="./teaching.html">Teaching</a>
    <a href="./talks.html">Talks</a>
    <a href="./outreach.html">Outreach</a>
    <a href="./cv.html">CV</a>
    <a href="./publications.html">Publications</a>
    <a href="./miscellanea.html">Miscellanea</a>
  </div>
</div>

<script>
  function HamburgerMenuFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
	  x.style.display = "none";
      } else {
	  x.style.display = "block";
      }
  }
</script>

<script>
  window.onload = () => {
      const toggleButton = document.getElementById("light-dark-toggle");
      const body = document.body;
      const html = document.documentElement;

      // Check localStorage for user preference
      if (localStorage.getItem("theme") === "dark") {
          body.classList.add("dark-mode");
	  html.classList.toggle("dark-mode");
      }

      // Toggle theme on click
      toggleButton.addEventListener("click", () => {
          body.classList.toggle("dark-mode");
	  html.classList.toggle("dark-mode");

          // Save user preference
          if (body.classList.contains("dark-mode")) {
              localStorage.setItem("theme", "dark");
          } else {
              localStorage.setItem("theme", "light");
          }
      });
  };
</script>

<!-- for same banner figure on all pages uncomment this -->
<!-- <div class="banner_container"> -->
<!--   <img width="900vw" src="./images/complete.jpg" /> -->
<!-- </div> -->
